.Car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  border-radius: 10px;
  transition: border, box-shadow, .3s;
  border: 1px solid #ccc;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14);
  &:hover {
        cursor: pointer;
        border: 1px solid #aaa;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, .25);
      }
}

.input {
  outline: none;
  &.green {
    border: 2px solid green;
  }

  &.red {
    border: 2px solid red;
  }
  &.bold {
    font-weight: bold;
  }

}

